.raleway-bold {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

.raleway-regular {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.lavishly-yours-regular {
    font-family: "Lavishly Yours", cursive;
    font-weight: 400;
    font-style: normal;
}

.hurricane-regular {
    font-family: "Hurricane", cursive;
    font-weight: 800;
    font-style: normal;
}

.birthstone-regular {
    font-family: "Birthstone", cursive;
    font-weight: 600;
    font-style: normal;
}


.rdp-root {
    /* Set your brand color */
    --rdp-accent-color: #DDCA7D;
    --rdp-accent-background-color: #DDCA7D;

    /* Circle shape for days */
    --rdp-day_button-border-radius: 9999px;

    /* Dimensions (optional tweak) */
    --rdp-day-button-width: 42px;
    --rdp-day-button-height: 42px;

    /* Selected border override */
    --rdp-selected-border: none;

    /* Today outline */
    --rdp-today-color: #DDCA7D;

    /* Disable opacity for outside days */
    --rdp-outside-opacity: 0.3;

    /* Optional glow on selected */
    --rdp-shadow: 0 0 6px rgba(221, 202, 125, 0.4);
    --rdp-day-height: 42px;
}